body{
    background-color: aqua;
}
h3{
    border: 3px,dashed;
}
li{
    border: 1px,dashed;
}
ol{
    border: 2px,dotted;
}
dl{
    border: 2px,dotted;
}
dt{
    border: 1px,solid;
}
dd{
    border: 1px,dashed;
}